
#continer{
    
    width: 1200px;
 
 
}

.bak{
    
    content: "";
    display: block; 
    clear: both;
}

#footer{
    
    height: 200px;
    background-color: red;
    border: 5px solid green;
    clear: both;    
    
}

#blogs-continer{
    width: 75%;
    display: inline-block;
    float: left;
    margin-top: 10px;
   
} 

#others-continer{
    width: 25%;
    display: inline-block; 
    float: left;
    margin-top: 10px;
  
}

#siralam{
    margin-top:120px
}

h1{
    text-align: center;
    font: 48px;
}

table{
    border-collapse: collapse;
}
td,th{
    padding: 5px 7px;
    border:1px solid gray;
    text-align: center;
}

th{
    background-color: yellowgreen;
}

tbody tr:nth-of-type(even){
    background-color:#d3d4d6ab ;
}

tbody tr:hover{
    background-color: #cbccce  ;
}

a{
    text-decoration: none;
}