body{
    font-size: 22px;
    font-family: 'Cormorant Garamond', serif;
}

a{
    text-decoration: none;
    color: yellowgreen;
}

h2{
   text-transform: capitalize;
    text-indent: 40px;
}

p{
    line-height: 150%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

#metin{
    width: 700px;
    margin: 50px auto;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

