/*        main         */



main{
    display: block;
    
    position: absolute;
    top: 0;
    right: 0;
    
    width:950px; 
    padding:5rem;
    
    background-color:#F0F0F0;
    
}

article{
    
    width: 100%;
    background-color: white;
    
    margin-bottom: 5rem;
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

article h3{
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.content{
    padding: 3.5rem;
      
    margin: 0;
    
}

.cont-img{
    width: 100%;
    height: 320px;
    
    margin: 0;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.time{
    
    font-size: 1.6rem;
    padding-top: 2rem;
    color: #C7C7C7;
}


/*         about           */

.get-toc{
    margin-top: 2rem;
    border-radius: 0.5rem;
    
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: #333;
    color: white;
    
    transition: background-color 0.3s linear;

}

.get-toc a{
    background-color: inherit;
    color: inherit;
    font-size: 1.6rem;
    text-decoration: none;
    
}

.get-toc:hover{
    background-color: black;
    
}

.text{
    font-size: 1.6rem;
    color: black;
    font-weight: 400;
}

.content h4{
    margin: 1.5rem 0;
    color: black;
    font-size:1.7rem;
}