 .box{
            padding: 5px;
            width: 300px;
            display: inline-block;
            text-align: center;
}
    
   .bckcolor{
            
            background-color:#f9f9f9;
}

  .right{
            
            text-align: right;
}
    
        