*{
    margin: 0;
    padding: 0;
}

.header{
    height: 85vh;
    background-image:
    linear-gradient(to top,rgba(204, 204, 255, 0.4), rgba(0, 71, 179, 0.8) ) , url(img/bck.jpeg);
    background-size: cover;
    background-position: top;
    clip-path:polygon(0 0,100% 0,100% 87%,0 100%);
    position: relative;
    
}

.wari-1{
    color: white;
    text-transform: uppercase;
    width: 450px;
    height: 100px;
    
    position: absolute;
    bottom: 180px;
    left: 110px;
    
}

.wari-2{
    color: white;
    text-transform: uppercase;
    width: 450px;
    height: 100px;
    
    position: absolute;
    bottom: 180px;
    right:100px;
    
}

.guc{
    display: block;
    font-size: 32px;
    letter-spacing: 15px;
    text-align: center;
    font-weight: 700;
    
}

.zey{
    display: block;
    font-size: 32px;
    letter-spacing: 15px;
    text-align: center;
    font-weight: 700;
}

.def {
    display: inline-block;
    font-size: 24px;
    letter-spacing: 9px;
    text-align: center;
}

img{
    height: 60px;
    position: absolute;
    top: 20px;
    left: 15px;
}